[submodule "software/parasail"]
	path = software/parasail
	url = https://github.com/jeffdaily/parasail
[submodule "lib/umesimd"]
	path = lib/umesimd
	url = https://github.com/edanor/umesimd.git
[submodule "lib/seqan"]
	path = lib/seqan
	url = https://github.com/rrahn/seqan.git
[submodule "software/ssw"]
	path = software/ssw
	url = https://github.com/mengyao/Complete-Striped-Smith-Waterman-Library.git
[submodule "software/swipe"]
	path = software/swipe
	url = https://github.com/torognes/swipe.git
