[submodule "software/parasail"]
	path = software/parasail
	url = https://github.com/jeffdaily/parasail
[submodule "lib/umesimd"]
	path = lib/umesimd
	url = https://github.com/edanor/umesimd.git
[submodule "lib/seqan"]
	path = lib/seqan
	url = https://github.com/rrahn/seqan.git
[submodule "software/ssw"]
	path = software/ssw
	url = https://github.com/mengyao/Complete-Striped-Smith-Waterman-Library.git
[submodule "software/swipe"]
	path = software/swipe
	url = https://github.com/torognes/swipe.git
[submodule "software/libssa"]
	path = software/libssa
	url = https://github.com/RonnySoak/libssa.git
[submodule "software/opal"]
	path = software/opal
	url = https://github.com/Martinsos/opal.git
[submodule "software/libsdb"]
	path = software/libsdb
	url = https://github.com/RonnySoak/libsdb.git
[submodule "software/ksw2"]
	path = software/ksw2
	url = https://github.com/lh3/ksw2.git
[submodule "lib/pairwise_aligner"]
	path = lib/pairwise_aligner
	url = git@github.com:rrahn/pairwise_aligner.git
