[submodule "software/parasail"]
	path = software/parasail
	url = https://github.com/jeffdaily/parasail
[submodule "lib/umesimd"]
	path = lib/umesimd
	url = https://github.com/edanor/umesimd.git
[submodule "lib/seqan"]
	path = lib/seqan
	url = https://github.com/rrahn/seqan.git
